/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8e0f1; /* Fondo suave rosa */
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #f06292; /* Rosa fuerte */
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 2.5em;
    letter-spacing: 2px;
}

main {
    padding: 20px;
    text-align: center;
}

.intro p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    background-color: #f06292;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d81b60; /* Rosa más oscuro */
}

#imagen {
    margin-top: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.imagen-container {
    width: 90%;          /* Ocupa el 90% del ancho de la pantalla */
    max-width: 200px;    /* Limita el contenedor a 800px de ancho */
    margin: 20px auto;   /* Centra el contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;    /* Asegura que la imagen no se desborde */
}

#imagen img {
    width: 100%;         /* La imagen ocupa el 100% del ancho del contenedor */
    max-height: 80vh;    /* Limita la altura de la imagen al 80% de la altura de la pantalla */
    object-fit: contain; 
    border-radius: 10px;
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 90px;
    background-color: #f06292;
    color: white;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    button {
        font-size: 1em;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }
    .intro p {
        font-size: 1em;
    }
}


