* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8e0f1; 
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #f06292; 
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 2.5em;
    letter-spacing: 2px;
}

main {
    padding: 20px;
    text-align: center;
}

.intro p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    background-color: #f06292;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d81b60; 
}

#imagen {
    margin-top: 20px;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 20px; 
}

#imagen img {
    width: 400px;         
    height: auto;         
    object-fit: contain;  
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


footer {
    margin-top: 40px;
    text-align: center;
    padding: 90px;
    background-color: #f06292;
    color: white;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    button {
        font-size: 1em;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }
    .intro p {
        font-size: 1em;
    }
}










